@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --main-color: #65B741;
    --second-color: #C1F2B0;
    --text-color: #FBF6EE;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5)
}


/* HOME */
.hero{
    min-height: 100vh;
    background-image: url(../img/after__crop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main{
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.hero a,
.lokasi-header a{
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: var(--shadow);
}

.hero a:hover{
    color: var(--main-color);
    background-color: var(--text-color);
}

.hero h1, .hero p, .hero a::before{
    text-shadow: var(--shadow);
}

/* NAVBAR */
.navbar{
    background-color: var(--main-color);
}

.logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--second-color);
}

.logo:hover{
    color: var(--text-color);
}

.nav-link{
    cursor: pointer;
}

.navbar-nav .nav-item{
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}
.nav-item .nav-link{
    color: var(--text-color) !important ;
}
/* ABOUT */
.image-about img{
    box-shadow: 0 0 1.5rem .1rem rgba(0, 0, 0, 2); 
}

.about-content{
    font-family: 'Nunito Sans', sans-serif;
}

/* PRODUCT */
.card{
    width: 100%;
    height: 100%;
}

/* LOKASI */
.lokasi-header{
    margin: 5rem 0 2rem ;
}

.container-peta iframe{
    box-shadow: .3px 1px 2px rgb(0 0 0 / 1);
    border-radius: 10px;
}

/* SERVICES */
.row .item-service{
    padding-bottom: 2rem;
}
/* CONTACT */
.container-contact{
    padding: 70px 60px 0 40px;
}

.container-contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-contact .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details{
    margin: 14px;
    text-align: center;
}

.content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}

.container-contact .content .right-side{
    width: 75%;
    margin-left: 75px;
}

.contact-input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #eee;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    resize: none;
  }
  
  .btn-contact {
    padding: 5px 30px; 
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
.btn-contact:hover{
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-contact:active{
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* POPUP SEND */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
    transition-delay: 2s; 
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
  
  .popup-content h2 {
    color: #4CAF50; 
  }
  
  .popup-content p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
/* FOOTER */
.copyright{
    background-color: black;
    color: var(--text-color);
    padding: 2%;
    font-size: 1.1rem;
}
.copyright a{
    color: var(--text-color);
    text-decoration: none;
}
/* BREAKPOINTS */
@media screen and (max-width: 950px){
    html{
        font-size: 75%;
    }
    .container-contact{
        width: 100%;
        padding: 30px 35px 40px 35px;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 65%;
    }
    .container-contact{
        margin: 40px 0;
        height: 100%;
    }
    .container-contact .content{
        flex-direction: column-reverse;
    }
    .container-contact .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container-contact .content .left-side::before{
        display: none;
    }
    .container-contact .content .right-side{
        width: 100%;
        margin-left: 0;
    }
    .logo{
        font-size: 2 rem;
    }
    .navbar-nav .nav-item{
        font-size: 1.4rem;
    }
    .card{
        height: 100%;
        width: 100%;
    }
}

@media screen and(max-width: 576px) {
    html{
        font-size: 60%;
    }
}

/* ANIMATION */
#loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    /* margin-left: 10px; */
  }